<div class="inner">
  <div class="footer-info-wrap">
    <div class="footer-company-group">
      <ul class="company-info">
        <li>구찌 코리아 유한책임회사</li>
        <li>대표자<span class="bar-separator">하태경, 알베르토 발렌테</span><span class="no-margin">서울시 강남구 영동대로 517, 35층(삼성동, 아셈타워)</span></li>
        <li>통신판매원 신고번호<span>제 2015-서울강남-00052 호</span></li>
        <li>호스팅 서비스<span>Rackspace Hosting</span></li>
      </ul>
    </div>
    <div class="footer-link-group">
      <ul class="footer-links">
        <li>클라이언트 서비스센터</li>
        <li>주문 내역 확인</li>
        <li>자주 묻는 질문(FAQ)</li>
        <li>사이트맵</li>
      </ul>
      <ul class="footer-links">
        <li>구찌에 대하여</li>
        <li>구찌 이퀼리브리엄</li>
        <li>기업 윤리</li>
        <li>채용 정보</li>
        <li>이용약관</li>
        <li>개인정보처리방침</li>
        <li>Corporate Information</li>
      </ul>
      <ul class="footer-links">
        <li>특별한 온라인 서비스</li>
        <li>인-스토어 방문 예약</li>
        <li>매장 픽업</li>
      </ul>
    </div>
    <div class="footer-contact-group">
      <ul class="contact-info">
        <li>클라이언트서비스센터</li>
        <li><span class="tel-info">02-3452-1921</span></li>
        <li class="email-item">메일 문의<span class="email-info">clientservice.kr@gucci.com</span></li>
      </ul>
    </div>
  </div>
  <h1>
    <a href="#"><img src="/resources/images/pattern/common/logo.svg" alt="logo" /></a>
  </h1>
</div>
