<div class="inner">
  <div class="header-wrapper">
    <div class="logo-nav">
      <h1>
        <a href="#"><img src="https://oloklkl.github.io/Gucci/resources/images/pattern/common/logo.svg" alt="logo" /></a>
      </h1>
      <nav class="nav">
        <ul class="gnb">
          <li class="m0">
            <a href="#">여성</a>
            <ul>
              <li><a href="#">여성 신상품</a></li>
              <li><a href="#">핸드백</a></li>
              <li><a href="#">의류</a></li>
              <li><a href="#">슈즈</a></li>
              <li><a href="#">지갑&amp;레더 소품</a></li>
              <li><a href="#">패션소품</a></li>
            </ul>
          </li>
          <li class="m1">
            <a href="#">남성</a>
            <ul>
              <li><a href="#">남성 신상품</a></li>
              <li><a href="#">핸드백</a></li>
              <li><a href="#">의류</a></li>
              <li><a href="#">슈즈</a></li>
              <li><a href="#">지갑&amp;레더 소품</a></li>
              <li><a href="#">패션소품</a></li>
            </ul>
          </li>
          <li class="m2">
            <a href="#">트래블</a>
            <ul>
              <li><a href="#">여성 트래블 컬렉션</a></li>
              <li><a href="#">남성 트래블 컬렉션</a></li>
            </ul>
          </li>
          <li class="m3">
            <a href="#">주얼리&amp;시계</a>
            <ul>
              <li><a href="#">골드 주얼리</a></li>
              <li><a href="#">실버 주얼리</a></li>
              <li><a href="#">패션 주얼리</a></li>
              <li><a href="#">시계</a></li>
              <li><a href="#">컬렉션</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="top-menu">
      <li>
        <a href="#" class="search-icon">
          <i class="ri-search-line"></i>
          <span class="blind">검색</span>
        </a>
      </li>
      <li>
        <a href="#" class="cart-icon">
          <i class="ri-shopping-cart-line"></i>
          <span class="blind">장바구니</span>
        </a>
      </li>
      <li>
        <a href="#" class="user-icon">
          <i class="ri-user-3-line"></i>
          <span class="blind">로그인</span>
        </a>
      </li>
    </ul>
  </div>
</div>
