// 사이트 공통 스타일 (섹션 기본 구조)

#skip-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2000;

  a {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 1.4rem;
    transition: top 0.3s ease-in-out;

    &:focus {
      top: 0;
    }
  }
}

:root {
  --swiper-theme-color: #b20808;
  // --swiper-theme-color: #0a6b31;
}

.bg-gray {
  background-color: $gray-5;
}

// section 전역 스타일
.sec-g {
  padding: 10vw 0;

  &__tit {
    padding-bottom: 2.34375vw;
    font-size: 3rem;
  }
  &__more {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 17px;
    right: $p-mobile;
    font-size: 2rem;

    @include mobileMore {
      right: $p-tablet;
    }
  }
}

// studio 섹션
.studio {
  width: 100%;
  height: auto;
  background: #fff;
  overflow: hidden;
  margin: 100px 0;

  @include tablet {
    margin: 80px 0;
  }
  @include mobile {
    margin: 50px 0;
  }
}

//campaign 섹션
.campaign {
  width: 100%;
  height: 100vh;
}

// product 섹션
.product {
  width: 100%;
  height: auto;
}

// mix-match 섹션
.mix-match {
  width: 100%;
  height: auto;
}

// gucci-recommend 섹션
.gucci-recommend {
  width: 100%;
  height: auto;
}

// bottom-bar 섹션
.bottom-bar {
  width: 100%;
  height: 60px;

  @include mobileMore {
    display: none;
  }
}
