// 스와이퍼, 카드, 콘텐츠 배치용

// swiper 전역 스타일
.intro {
  .swiper {
    width: 100%;
    height: 100vh;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: $white;
      @include flexCenter;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
  }
}

// studio 섹션
.studio {
  .studio-content {
    flex: 1;

    .swiper {
      width: 100%;
      overflow: hidden;
    }

    .swiper-wrapper {
      display: flex;
      gap: 24px;

      @include tablet {
        gap: 10px;
      }
      @include mobile {
        gap: 0;
      }

      .swiper-slide {
        width: auto;
        height: auto;
      }
    }
  }
}

//mix-match 섹션
.mix-match {
  .gender-slides {
    display: none;

    &.active {
      display: block;
    }
  }

  .swiper {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    z-index: 10;
    color: $black;
    width: 50px;
    height: 50px;
    background-color: $white;
    border: 2px solid $primary;
    border-radius: 50%;
    padding: 10px;

    @include tablet {
      width: 40px;
      height: 40px;
    }
    @include mobile {
      width: 30px;
      height: 30px;
    }
  }

  .swiper-button-next {
    right: 30%;

    @include mobile {
      right: 25%;
    }
  }
  .swiper-button-prev {
    left: 30%;

    @include mobile {
      left: 25%;
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 2.4rem;
  }
}
