// 메인 페이지 스타일
.inner {
  position: relative;
  width: 100%;
  max-width: $grid;
  margin: 0 auto;
  padding: 0 $p-mobile;

  @include tablet {
    padding: 0 $p-tablet;
  }

  @media (max-width: 1440px) {
    max-width: 1200px;
  }

  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

// intro 섹션
.intro {
  .slide-intro {
    .swiper-slide {
      position: relative;
      height: auto;

      &.swiper-slide-active {
        .text-area {
          opacity: 1;
          transform: translate(-30%, 70%);
        }
      }

      .only-pc {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        display: block;

        @include tablet {
          display: none;
        }

        @include mobile {
          display: none;
        }
      }

      .only-mobile {
        display: none;
        height: 100vh;

        @include tablet {
          display: block;
        }

        @include mobile {
          display: block;
        }
      }

      img {
        object-position: 50% 0;
        height: 100vh;
      }

      .text-area {
        position: absolute;
        top: 50%;
        left: 40%;
        text-align: center;
        width: 50%;
        max-width: 300px;
        opacity: 0;
        transition: all 0.5s;

        @include tabletMore {
          width: 50%;
          max-width: none;
          text-align: center;
        }

        &__tit {
          font-size: 5rem;
          color: $white;
          font-family: $font-family-title;
          font-weight: $font-medium;
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));

          @include tablet {
            font-size: 3rem;
          }
          @include mobile {
            font-size: 2.5rem;
          }
        }

        &__cont {
          color: $white;
          font-size: 2rem;
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));

          @include mobile {
            font-size: 1.5rem;
          }
        }

        &__goto {
          display: inline-block;
          margin-top: 30px;
          padding: 7px 20px;
          background: $primary;
          color: $white;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }

          @include tablet {
            margin-top: 20px;
            font-size: 1.6rem;
          }
          @include mobile {
            padding: 5px 18px;
            font-size: 1.4rem;
          }
        }
      }
    }

    .swiper-pagination {
      display: none;

      @include tabletMore {
        display: block;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      @include tabletMore {
        display: none;
      }
    }
  }
}

// studio 섹션
.studio {
  padding: 100px 0;

  .inner {
    display: flex;
    align-items: flex-start;
  }

  .studio-text {
    width: 400px;
    font-family: $font-family-title;
    // border-right: 1px solid #ddd;
    margin-right: 40px;

    .studio-title {
      font-size: 4.6rem;
      margin-bottom: 40px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;

      @include tablet {
        margin-bottom: 30px;
        font-size: 4rem;
      }
      @include mobile {
        margin-bottom: 20px;
        font-size: 2.5rem;
      }

      &:hover {
        color: $primary;
      }
      &.active {
        color: $primary;
      }
    }
  }

  .studio-content {
    .swiper-slide {
      a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #333;

        .img-wrap {
          position: relative;

          .img-default,
          .img-hover {
            display: block;
            width: 300px;
            height: 400px;
            object-fit: fill;
            transition: opacity 0.3s ease;

            @include tablet {
              width: 250px;
              height: 350px;
            }
            @include mobile {
              width: 150px;
              height: 250px;
            }
          }

          .img-hover {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
          }

          &:hover .img-hover {
            opacity: 1;
          }

          &:hover .img-default {
            opacity: 0;
          }
        }

        .studio-item-name {
          font-size: 1.6rem;
          margin-top: 16px;
          font-weight: 600;

          @include tablet {
            font-size: 1.4rem;
          }
          @include mobile {
            font-size: 1.3rem;
          }
        }

        .studio-item-price {
          display: block;
          font-size: 1.5rem;
          margin-top: 8px;
          color: #555;

          @include tablet {
            font-size: 1.4rem;
          }
          @include mobile {
            font-size: 1.3rem;
          }
        }

        .studio-item-season {
          display: block;
          font-size: 1.3rem;
          margin-top: 4px;
          color: #999;

          @include tablet {
            font-size: 1.2rem;
          }
          @include mobile {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

// campaign 섹션
.campaign {
  color: $gray-0;
  background: linear-gradient(135deg, #0a6b31, #8f0000);
  background-size: cover;

  .inner {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .campaign-text {
    h2 {
      font-family: $font-family-title;
      font-size: 8rem;

      @include tablet {
        font-size: 5rem;
      }
      @include mobile {
        font-size: 7rem;
        margin-bottom: 50px;
      }
    }
    p {
      font-size: 2.2rem;
      margin-bottom: 30px;

      @include tablet {
        font-size: 2rem;
      }
      @include mobile {
        font-size: 2rem;
      }
    }
    button {
      background-color: $gray-0;
      padding: 10px 30px;
      font-weight: bold;
      border-radius: 2px;

      @include mobile {
        padding: 18px 35px;
      }
    }
  }

  iframe {
    @include tablet {
      width: 550px;
      height: 400px;
    }
    @include mobile {
      display: none;
    }
  }

  img {
    width: 800px;
  }
}

// product 섹션
.product {
  margin: 10rem 0;

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 2rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  .product-item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }

    .product-image {
      position: relative;

      .add-favorite {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: transparent;
        border: none;
        font-size: 2.4rem;
        color: $white;
        z-index: 10;
        cursor: pointer;

        i {
          transition: color 0.3s;
        }

        &:hover {
          color: $primary-50;
        }
      }

      img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 12px;
      }

      .product-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
        @include flexCenter;

        .product-info {
          color: $white;
          text-align: center;
          opacity: 0;
          transform: translateY(10px);
          transition: opacity 0.3s ease, transform 0.3s ease;

          h2 {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
          }

          p {
            font-size: 1.7rem;
            font-weight: bold;
            margin-bottom: 0.3rem;
          }

          span {
            font-size: 1.5rem;
            letter-spacing: 1px;
          }
        }
      }

      &:hover .product-overlay {
        opacity: 1;

        .product-info {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

.banner-strip {
  border-top: 3px solid $primary-50;
  border-bottom: 3px solid $primary-50;
  overflow: hidden;

  h2 {
    font-family: $font-family-title;
    font-size: 5rem;
    font-weight: 500;
    color: $primary;
    padding: 0 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;

    @include tablet {
      font-size: 4rem;
    }

    @include mobile {
      font-size: 3.2rem;
    }
  }
}

// mix-match 섹션
.mix-match {
  padding: 50px 0;

  .gender-tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      span {
        width: 250px;
        border: 1px solid $primary-50;
        padding: 10px 50px;
        font-size: 2rem;
        font-weight: 600;
        transition: all 0.3s ease;

        @include tablet {
          font-size: 1.6rem;
        }
        @include mobile {
          width: 180px;
          padding: 10px 40px;
          font-size: 1.4rem;
        }
      }

      .ri-circle-fill {
        color: $primary-50;
      }

      &.man {
        span {
          border-color: #1565c0;
        }

        .ri-circle-fill {
          color: #1565c0;
        }
      }
    }
  }

  .add-to-cart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    span {
      width: 250px;
      background-color: $primary-50;
      padding: 10px 50px;
      color: $gray-0;

      &.man {
        background-color: #1565c0;
      }

      @include tablet {
        font-size: 1.6rem;
      }
      @include mobile {
        width: 180px;
        padding: 10px 40px;
        font-size: 1.4rem;
      }
    }
  }
}

// gucci-recommend 섹션
.gucci-recommend {
  background-color: $secondary-50;
  padding: 50px 0;
  margin-bottom: 100px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    color: $gray-0;

    h2 {
      font-size: 3rem;

      @include mobile {
        font-size: 2rem;
      }
    }

    a {
      color: $gray-0;

      .gucci-recommend__more {
        @include mobile {
          font-size: 1.5rem;
        }
      }
    }
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;

    img {
      display: block;
      width: auto;
      height: auto;
      object-fit: cover;
    }
  }
}

// bottom-bar 섹션
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: $gray-0;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.2rem;
      color: $gray-40;

      &:hover {
        color: $primary;
        cursor: pointer;
      }

      &.active {
        color: $primary;
      }

      i {
        font-size: 2.4rem;
      }
    }

    li:nth-child(2) {
      color: $gray-90;
    }
  }
}

.bottom-category {
  position: fixed;
  top: 60px;
  bottom: 60px;
  left: 0;
  width: 100%;
  background-color: $gray-0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 50;
  display: none;

  @include mobileMore {
    display: none;
  }

  &.show {
    display: block;
  }

  .bottom-category-nav {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    .gnb {
      display: flex;
      flex-direction: column;
      padding: 80px 0;

      > li {
        flex: 1;
        position: static;
        text-align: center;

        > a {
          display: block;
          font-weight: bold;
          font-size: 1.4rem;
          padding: 1rem;
          cursor: pointer;
          transition: color 0.3s;
          color: $gray-90;

          &:hover {
            color: $primary-50;
          }
        }

        // 서브 메뉴 기본 숨김
        > ul {
          position: static;
          max-height: 0;
          padding: 1rem 0;
          overflow: hidden;
          transition: max-height 0.4s ease, opacity 0.4s ease;
          opacity: 0;

          li {
            a {
              display: block;
              padding: 0 3rem;
              font-size: 1.3rem;
              color: #444;
              cursor: pointer;
            }
            a:hover {
              color: $secondary;
              font-weight: bold;
            }
          }
        }

        // 활성화 시 드롭다운 펼침
        &.active > ul {
          max-height: 1000px;
          opacity: 1;
        }
      }
    }
  }
}
